/* Untuk Tablet */
@media (max-width: 1000px){
    .message {
        width: auto;
	float: none;
    }
     .site-footer {
        width: 100px;
    }
}
/* Untuk Smartphone */
@media (max-width: 670px){
    .message {
        width: auto;
        float: none;
    }
    .site-footer {
        width: 100px;
     }
}
